In [1]:
# %%time
# %run src/main.py --dataset-name 'CiteSeer'\
#     --clustering-method 'danmf' --epochs 10

In [2]:
%%time
%run src/main.py --dataset-name 'CiteSeer' --clustering-overlap True\
    --clustering-method 'danmf' --epochs 10\
    --membership-closeness 0.1

Report_df = jadval.copy()
# Report_df

(3327, 3703) (3327, 1)
P.shape (3327, 8)

Num Clusters: 8

Train Loss: 1.7379:  20%|██        | 2/10 [00:00<00:00, 12.47it/s]

Number of clusters' nodes: 4063

Train Loss: 0.5841: 100%|██████████| 10/10 [00:00<00:00, 13.41it/s]

F-1 score: 0.71
CPU times: user 19.3 s, sys: 1.19 s, total: 20.5 s
Wall time: 10 s

In [3]:
%%time
%run src/main.py --dataset-name 'CiteSeer' --clustering-overlap True\
    --clustering-method 'danmf' --epochs 10\
    --membership-closeness 0.2

Report_df = Report_df.append(jadval, ignore_index=True)
# Report_df

(3327, 3703) (3327, 1)

Train Loss:   0%|          | 0/10 [00:00<?, ?it/s]

P.shape (3327, 8)

Num Clusters: 8

Number of clusters' nodes: 3845

Train Loss: 0.6153: 100%|██████████| 10/10 [00:00<00:00, 14.09it/s]

F-1 score: 0.71
CPU times: user 15.4 s, sys: 301 ms, total: 15.7 s
Wall time: 5.5 s

In [4]:
%%time
%run src/main.py --dataset-name 'CiteSeer' --clustering-overlap True\
    --clustering-method 'danmf' --epochs 10\
    --membership-closeness 0.3

Report_df = Report_df.append(jadval, ignore_index=True)

(3327, 3703) (3327, 1)
P.shape (3327, 8)

Num Clusters: 8

Train Loss:   0%|          | 0/10 [00:00<?, ?it/s]

Number of clusters' nodes: 3774

Train Loss: 0.6225: 100%|██████████| 10/10 [00:01<00:00,  6.80it/s]

F-1 score: 0.71
CPU times: user 20 s, sys: 240 ms, total: 20.2 s
Wall time: 7.12 s

In [5]:
%%time
%run src/main.py --dataset-name 'CiteSeer' --clustering-overlap True\
    --clustering-method 'danmf' --epochs 10\
    --membership-closeness 0.4

Report_df = Report_df.append(jadval, ignore_index=True)

(3327, 3703) (3327, 1)
P.shape (3327, 8)

Num Clusters: 8

Number of clusters' nodes: 3660

Train Loss: 0.6558: 100%|██████████| 10/10 [00:00<00:00, 12.47it/s]

F-1 score: 0.70
CPU times: user 20.2 s, sys: 404 ms, total: 20.6 s
Wall time: 7.03 s

In [6]:
%%time
%run src/main.py --dataset-name 'CiteSeer' --clustering-overlap True\
    --clustering-method 'danmf' --epochs 10\
    --membership-closeness 0.5

Report_df = Report_df.append(jadval, ignore_index=True)

(3327, 3703) (3327, 1)
P.shape (3327, 8)

Num Clusters: 8

Train Loss:   0%|          | 0/10 [00:00<?, ?it/s]

Number of clusters' nodes: 3592

Train Loss: 0.7342: 100%|██████████| 10/10 [00:01<00:00,  5.47it/s]

F-1 score: 0.69
CPU times: user 22.9 s, sys: 342 ms, total: 23.2 s
Wall time: 8.15 s

In [7]:
%%time
%run src/main.py --dataset-name 'CiteSeer' --clustering-overlap True\
    --clustering-method 'danmf' --epochs 10\
    --membership-closeness 0.6

Report_df = Report_df.append(jadval, ignore_index=True)

(3327, 3703) (3327, 1)
P.shape (3327, 8)

Num Clusters: 8

Train Loss: 1.8242:  10%|█         | 1/10 [00:00<00:01,  8.65it/s]

Number of clusters' nodes: 3475

Train Loss: 0.6638: 100%|██████████| 10/10 [00:00<00:00, 10.95it/s]

F-1 score: 0.69
CPU times: user 19.6 s, sys: 526 ms, total: 20.1 s
Wall time: 7.4 s

In [8]:
%%time
%run src/main.py --dataset-name 'CiteSeer' --clustering-overlap True\
    --clustering-method 'danmf' --epochs 10\
    --membership-closeness 0.7

Report_df = Report_df.append(jadval, ignore_index=True)

(3327, 3703) (3327, 1)
P.shape (3327, 8)

Num Clusters: 8

Train Loss: 1.7215:  20%|██        | 2/10 [00:00<00:00, 13.87it/s]

Number of clusters' nodes: 3434

Train Loss: 0.6714: 100%|██████████| 10/10 [00:00<00:00, 12.17it/s]

F-1 score: 0.71
CPU times: user 25 s, sys: 751 ms, total: 25.8 s
Wall time: 9.09 s

In [9]:
%%time
%run src/main.py --dataset-name 'CiteSeer' --clustering-overlap True\
    --clustering-method 'danmf' --epochs 10\
    --membership-closeness 0.8

Report_df = Report_df.append(jadval, ignore_index=True)

(3327, 3703) (3327, 1)
P.shape (3327, 8)

Num Clusters: 8

Train Loss: 1.7375:  20%|██        | 2/10 [00:00<00:00, 10.44it/s]

Number of clusters' nodes: 3379

Train Loss: 0.7406: 100%|██████████| 10/10 [00:01<00:00,  9.44it/s]

F-1 score: 0.68
CPU times: user 20.6 s, sys: 441 ms, total: 21 s
Wall time: 7.17 s

In [10]:
%%time
%run src/main.py --dataset-name 'CiteSeer' --clustering-overlap True\
    --clustering-method 'danmf' --epochs 10\
    --membership-closeness 0.9

Report_df = Report_df.append(jadval, ignore_index=True)

(3327, 3703) (3327, 1)
P.shape (3327, 8)

Num Clusters: 8

Train Loss: 1.7505:  20%|██        | 2/10 [00:00<00:00, 11.23it/s]

Number of clusters' nodes: 3351

Train Loss: 0.6661: 100%|██████████| 10/10 [00:01<00:00,  9.61it/s]

F-1 score: 0.71
CPU times: user 21.2 s, sys: 392 ms, total: 21.6 s
Wall time: 7.25 s

In [11]:
%%time
%run src/main.py --dataset-name 'CiteSeer' \
    --clustering-method 'danmf' --epochs 10\
    --membership-closeness 1

Report_df = Report_df.append(jadval, ignore_index=True)

(3327, 3703) (3327, 1)

Train Loss:   0%|          | 0/10 [00:00<?, ?it/s]

Num Clusters: 8

Number of clusters' nodes: 3327

Train Loss: 0.7671: 100%|██████████| 10/10 [00:01<00:00,  7.45it/s]

F-1 score: 0.69
CPU times: user 22.6 s, sys: 322 ms, total: 22.9 s
Wall time: 8.05 s

In [12]:
Report_df

,Winner Membership Closeness,dataset name,F-1 Score,Overlapped Nodes,Run Time
0,0.1,CiteSeer,0.705304,0.221220,5.823217
1,0.2,CiteSeer,0.709091,0.155696,5.487456
2,0.3,CiteSeer,0.706994,0.134355,7.106486
3,0.4,CiteSeer,0.703314,0.100090,7.005780
4,0.5,CiteSeer,0.693805,0.079651,8.123543
5,0.6,CiteSeer,0.689245,0.044485,7.370539
6,0.7,CiteSeer,0.705565,0.032161,9.063613
7,0.8,CiteSeer,0.683411,0.015630,7.148387
8,0.9,CiteSeer,0.705657,0.007214,7.222687
9,1.0,CiteSeer,0.685249,0.000000,8.025238

In [13]:
file_name = 'results/F1_score.xlsx'
writer = ExcelWriter(file_name)
Report_df.to_excel(writer)#, sheet_name='All')  # , index=False)
writer.save()

In [3]:
Report = []
for ds_name in ['CiteSeer', 'Cora']:
    for mc in [x / 10.0 for x in range(1, 3)]: #11)]
        %run src/main.py --dataset-name {ds_name} --clustering-overlap True\
        --clustering-method 'danmf' --epochs 2\
        --membership-closeness {mc}
        Report.append(ds_report)
        
df = pd.DataFrame(Report, columns=['Winner Membership Closeness','dataset name',\
'F-1 Score', 'Overlapped Nodes','Run Time'])
df

(3327, 3703) (3327, 1)
P.shape (3327, 8)

Num Clusters: 8

Train Loss: 1.7379: 100%|██████████| 2/2 [00:00<00:00, 10.92it/s]

Number of clusters' nodes: 4063

F-1 score: 0.39
(3327, 3703) (3327, 1)

Train Loss:   0%|          | 0/2 [00:00<?, ?it/s]

P.shape (3327, 8)

Num Clusters: 8

Number of clusters' nodes: 3845

Train Loss: 1.736: 100%|██████████| 2/2 [00:00<00:00, 11.98it/s]

F-1 score: 0.44
(2708, 1433) (2708, 1)

Train Loss:   0%|          | 0/2 [00:00<?, ?it/s]

P.shape (2708, 8)

Num Clusters: 8

Number of clusters' nodes: 4492

Train Loss: 1.7864: 100%|██████████| 2/2 [00:00<00:00,  9.67it/s]

F-1 score: 0.37
(2708, 1433) (2708, 1)
P.shape (2708, 8)

Num Clusters: 8

Train Loss: 1.7944: 100%|██████████| 2/2 [00:00<00:00, 13.75it/s]

Number of clusters' nodes: 4055

F-1 score: 0.34

,Winner Membership Closeness,dataset name,F-1 Score,Overlapped Nodes,Run Time
0,0.1,CiteSeer,0.390938,0.221220,4.922141
1,0.2,CiteSeer,0.438219,0.155696,5.194663
2,0.1,Cora,0.368806,0.658789,3.975128
3,0.2,Cora,0.341892,0.497415,3.921048

In [2]:
df = pd.DataFrame(Report, columns=['Winner Membership Closeness','dataset name',\
'F-1 Score', 'Overlapped Nodes','Run Time'])
df

,Winner Membership Closeness,dataset name,F-1 Score,Overlapped Nodes,Run Time
0,1.0,CiteSeer,0.475986,0.0,5.219955
1,1.0,CiteSeer,0.475986,0.0,4.986057
2,1.0,Cora,0.305263,0.0,4.222513
3,1.0,Cora,0.305263,0.0,4.141019

In [1]:
num_labels = {'CiteSeer':6, 'Cora':7, 'PubMed':3, 'WikiCS':10}
num_labels['PubMed']

3